@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url("https://fonts.cdnfonts.com/css/craftwork-grotesk");
@import url("http://Fonts/Sora/static/Sora-Regular.ttf");
@import url(../Fonts/Sora/static/Sora-Bold.ttf);

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
body {
    background-color: F5F5FA;
    width: 1440px;
    height: 900px;
}
svg {
    width: 20px;
    height: 20px;
}

.navigation {
    width: 260px;
    height: 900px;
    /* background-color: brown; */
    float: left;
}
.navigation-header {
    font-family: "Craftwork Grotesk", sans-serif;
    margin: 33px 0 0 24px;
    font-weight: 900;
    letter-spacing: -1px;
    width: 163px;
    height: 29px;
    line-height: 29px;
    font-size: 24px;
}
.navigation-sidebar {
    width: 212px;
    margin: 26px auto 0 auto;
    /* background-color: aqua; */
}
.navigation-options {
    height: 56px;
    display: flex;
    border-radius: 8px;
    cursor: pointer;
}
.navigation-option-selected {
    background-color: rgba(27, 119, 228, 0.15);
}
.navigation-options-text {
    font-weight: 500;
    font-family: "Plus Jakarta Display", sans-serif;
    line-height: 56px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
}
.navigation-options-text-selected {
    color: 1B77E4;
}
.navigator-icons {
    margin: 18px 0 0 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.invite {
    width: 212px;
    margin: 38px auto 0 auto;
    background-color: rgba(228, 136, 27, 0.5);
    border-radius: 12px;
    display: grid;
}
.invite-text {
    font-family: "Plus Jakarta Display", sans-serif;
    margin: 24px;
    font-size: 24px;
    font-weight: bold;
}
.invite-button {
    display: flex;
    height: 48px;
    width: 149px;
    border: none;
    background-color: E4881B;
    border-radius: 48px;
    margin: 4px 0 28px 24px;
    cursor: pointer;
}
.button-text {
    color: white;
    display: inline-block;
    line-height: 48px;
    font-size: 12px;
    margin-left: 30.5px;
}

.button-arrow-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: auto 0 auto 10px;
}
.logout-button {
    display: flex;
    margin-top: 12px;
    width: 260px;
    height: 96px;
    border: none;
    cursor: pointer;
}
.logout-button-text {
    display: inline-block;
    line-height: 96px;
    margin-left: 10px;
    font-size: 17px;
}
.logout-button-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: auto 0 auto 24px;
}
.just-a-line {
    height: 900px;
    width: 1px;
    float: left;
    background-color: rgba(0, 0, 0, 0.15);
}
.search-bar {
    display: flex;
    width: 1179px;
    /* float: right; */
}
#search-bar {
    margin: 16px 0 0 24px;
    display: inline-block;
    border: none;
    width: 1056px;
    height: 64px;
    padding-left: 62px;
    border-radius: 48px;
    background-color: white;
    background-image: url(Gray\ Search\ Icon.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 28px 19px;
}

#search-bar:focus-visible {
    outline: 1px solid gray;
}
#search-bar::placeholder {
    margin-left: 30px;
    color: 6D6D73;
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 16px;
}
#search-button {
    display: inline-block;
    background-color: rgba(228, 136, 27, 0.15);
    border: none;
    margin: 16px 0 0 8px;
    border-radius: 48px;
    height: 64px;
    width: 64px;
    cursor: pointer;
}

.dashboard {
    width: 456px;
    height: 268px;
    margin: 28px 0 0 24px;
    float: left;
}

.dashboard-title {
    font-family: "Plus Jakarta Display", sans-serif;
    line-height: 52px;
    font-size: 40px;
    font-weight: bold;
}

.dashboard-description {
    margin-top: 4px;
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 14px;
    color: 555559;
}
.dashboard-div {
    background-color: white;
    height: 170px;
    width: 216px;
    float: left;
    border-radius: 10px;
    margin-top: 24px;
}
.wallet {
    margin-right: 24px;
}

.dash-wall {
    height: 56px;
    width: 56px;
    margin: 23px 0 0 24px;
}

.dash-desc {
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 16px;
    margin: 12px 0 0 24px;
}

.dash-numbs {
    margin: 2px 0 0 24px;
    font-family: "Plus Jakarta Display", sans-serif;
    font-weight: bold;
    font-size: 27px;
}

.recent {
    margin: 28px 0 0 24px;
    width: 648px;
    height: 272px;
    float: left;
}

.recent-title {
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.recent-table {
    background-color: white;
    margin-top: 20px;
    border-radius: 12px;
    padding: 20px;
}

.row {
    margin-top: 20px;
    height: 21px;
}
.first-row {
    margin-top: 0;
}
.second-row {
    margin-top: 16px;
}
.first-column {
    width: 164px;
    float: left;
}
.second-column {
    width: 109px;
    letter-spacing: -0.6px;
    float: left;
}
.third-column {
    width: 74px;
}
.forth-column {
    width: 108px;
}
.fifth-column {
    width: 84px;
}
.sixth-column {
}
.coin-names {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}
.coin-short-name {
    display: inline-block;
}

div.row div {
    display: inline-block;
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 12px;
}

div.second-row div.sixth-column {
    letter-spacing: -0.9px;
}

.Watchlist {
    float: left;
    margin: 28px 0 0 24px;
    width: 456px;
    overflow: hidden;
}

.watchlist-dec {
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.wathchlist-info {
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 14px;
    margin-top: 4px;
    color: 555559;
}
.watchlist-coins {
    padding: 20px;
    padding-bottom: 0;
    width: 416px;
    height: 398px;
    margin-top: 20px;
    border-radius: 12px;
    background-color: white;
    /* overflow-y: auto; */
}
.watchlist-coins::-webkit-scrollbar {
    width: 10px;
}
.watchlist-coins::-webkit-scrollbar-thumb {
    width: 2px;
    height: 5px;
    border-radius: 1px;
    background-color: aqua;
}
.watchlist-coins::-webkit-scrollbar-track {
    background-color: red;
}

.coin-box:last-of-type {
    margin-bottom: 0;
}
.coin-box {
    margin-bottom: 22px;
    height: 52px;
    overflow: hidden;
}
.coin-icon {
    height: 52px;
    width: 52px;
    float: left;
    cursor: pointer !important;
}
.coin-name {
    display: inline-block;
    margin-left: 12px;
    height: inherit;
    cursor: pointer;
}
.coin-long-name {
    font-family: "Plus Jakarta Display", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 4px;
}
.coin-short-name {
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 14px;
    color: 9e9EA6;
    margin-top: 2px;
}
.coin-price {
    float: right;
    height: inherit;
}
.coin-actual-price {
    font-family: "Plus Jakarta Display", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 9px;
}
.coin-price-changes {
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 10px;
    font-weight: bold;
    /* color: 55AC64; */
    margin-top: 2px;
}

.portfolio {
    width: 648px;
    margin: 24px 0 0 24px;
    float: left;
}

.portfolio-text {
    display: inline-block;
}
.portfolio-text-head {
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.portfolio-text-des {
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 14px;
    margin-top: 4px;
}
.what-day {
    float: right;
    margin-right: 0 !important;
}

.which-coin {
    margin-right: 3px;
    text-align: center;
    font-family: "Plus Jakarta Display", sans-serif;
    font-size: 12px;
    line-height: 44px;
    width: 147px;
    height: 44px;
    border-radius: 32px;
    background-color: white;
    float: right;
    cursor: pointer;
}

.down-arrow {
    width: 10px;
    margin-left: 28px;
    margin-top: 20px;
    display: inline-block;
}
#myChart {
    margin-top: 50px;
}

.chartMenu {
    width: 100vw;
    height: 100px;
    background: #1a1a1a;
    color: rgba(54, 162, 235, 1);
}
.chartMenu p {
    padding: 10px;
    font-size: 20px;
}
.chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    background: rgba(54, 162, 235, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
}

.circle {
    position: absolute;
    width: 156px;
    filter: blur(250px);
    left: 186px;
    top: 150px;
    height: 156px;
    background-color: blue;
}
.circle1 {
    position: absolute;
    width: 156px;
    filter: blur(170px);
    left: 1064px;
    top: -42px;
    height: 156px;
    background-color: F0D3C7;
}
.circle2 {
    position: absolute;
    width: 156px;
    filter: blur(130px);
    left: -78px;
    top: 598px;
    height: 156px;
    background-color: F0EEC7;
}
